.btn {
  all: unset;
  padding: 15px;
  background-color: rgba(112, 17, 36, 0.928);
  border: 2px solid white;
  border-radius: 50px;
  width: 200px;
  text-align: center;
  margin: 0 auto;
 color: white;
  left: 40%;
  top: 48%;
  font-size: 1.7em;
  font-weight: 700;
}

.ff {
  font-family: 'Source Sans Pro', sans-serif;
}

