@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
.btn {
  all: unset;
  padding: 15px;
  border-radius: 50px;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  color: white;
  left: 40%;
  top: 48%;
  font-size: 1.7em;
  font-weight: 700;
}

.ff {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  border-bottom: 3px solid white;
  color: white;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
}

.overlap {
  width: 70vw;
  height: 70vh;
  margin-left: auto;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 34, 0, 0.887)), to(rgba(255, 0, 55, 0.716)));
  background: linear-gradient(to right, rgba(255, 34, 0, 0.887), rgba(255, 0, 55, 0.716));
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 24%, 100% 42%, 53% 100%, 22% 44%);
          clip-path: polygon(0 0, 100% 0, 100% 24%, 100% 42%, 53% 100%, 22% 44%);
  border-radius: 8px;
  position: absolute;
  right: 0;
}

.old_user {
  width: 70vw;
  height: 70vh;
  margin: 100px auto;
  border-radius: 8px;
  -webkit-box-shadow: 5px -5px 12px rgba(0, 0, 0, 0.576);
          box-shadow: 5px -5px 12px rgba(0, 0, 0, 0.576);
}

.old_user nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  z-index: 5;
  position: relative;
  margin-right: 20px;
  font-size: 0.9em;
}

.old_user nav h1 {
  color: rgba(255, 255, 255, 0.793);
  margin: 0;
  margin-right: 20px;
  font-size: 3rem;
}

.old_user nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-right: 100px;
}

.old_user nav ul li {
  margin: 10px;
  padding: 10px;
}

.old_user nav ul a {
  color: white;
  text-decoration: none;
}

.old_user .login {
  position: relative;
  z-index: 5;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.old_user .login .uname h1 {
  font-size: 6em;
  font-weight: 900;
  color: rgba(255, 34, 0, 0.887);
}

.old_user .login .uname h1 span {
  color: white;
}

.old_user .login .uname h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: rgba(255, 34, 0, 0.887);
  font-variant: small-caps;
  margin: 50px;
}

.old_user .login .username {
  width: 20%;
  margin: 0 auto;
  border-bottom: 2px solid rgba(255, 34, 0, 0.887);
  padding: 3px;
}

.old_user .login .username input {
  all: unset;
  color: black;
  padding-top: 5px;
  padding-left: 20px;
}

.old_user .login .btn-three {
  all: unset;
  margin-top: 30px;
  padding: 5px;
  border: 2px solid rgba(255, 34, 0, 0.887);
  border-radius: 50px;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  color: red;
  left: 40%;
  top: 48%;
  font-size: 1.7em;
  font-weight: 700;
}
/*# sourceMappingURL=old_user.css.map */