@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import 'helper';
@import 'variables';


body {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
}

.overlap {
    width: 70vw;
    height: 70vh;
    margin-left: auto;
    background: linear-gradient(to right, aqua, blue);
    // background: linear-gradient(to right, rgba(255, 34, 0, 0.887), rgba(255, 0, 55, 0.716));
    clip-path: polygon(50% 0%, 100% 0, 100% 58%, 40% 91%, 0 0);
    border-radius: 8px;
    position: absolute;
    right: 0;

}

.signup {
    width: 70vw;
    height: 70vh;
    margin: 100px auto;
    border-radius: 8px;
    box-shadow: 5px -5px 12px rgba(0, 0, 0, 0.576);
    position: relative;
    z-index: 3;

    nav {
        display:flex ;
        justify-content: flex-end;
        align-items: center;
        color: white;
        z-index: 5;
        position: relative;
        margin-right: 20px;
        font-size: 0.9em;

        h1{
        color: rgba(255, 255, 255, 0.793);
        margin: 0;
        margin-right: 20px;
        font-size: 3rem;
    }


        ul {
            display: flex;
            list-style: none;
            margin-right: 100px;

            li{
                margin: 10px;
                padding: 10px;
            }

            a{
                color: white;
                text-decoration: none;
            }
        }
    }

    .heading-one {
        h1 {
            font-size: 3rem;
            padding-left: 10px;

            span {
                color: $primary;
            }
        }
    }

    .create {
        width: 40%;
        color: $secondary;
        font-size: 2.5rem;
        font-weight: 900;
        margin: 0 20px;
        line-height: 50px;
        margin-top: 50px;
        padding: 0 20px;
    }

}

.inputs {

    margin-left: 100px;
    width: 25%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    margin: 50px;

    input {
        all: unset;
        padding: 8px;
        font-weight: 600;

    }
}

.age {
    width: 50%;
    margin: 50px;

    h2 {
        color: $secondary;
    }

    #select_age {
        width: 40%;
        padding: 10px;
        font-size: 1.2em;
        font-weight: 900;
        border: none;
        outline: 2px solid rgba(0, 0, 0, 0.4);

        .opt-one {
            color: black;
            font-size: 1rem;

            option {
                color: black;
                margin-bottom: 10px;
                font-weight: 400;
            }
        }
    }
  
}